<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- 开启二级缓存，默认开启 -->
		<setting name="cacheEnabled" value="true"/>
	</settings>

	<!-- 别名配置，配置指定的包后，包下的所有bean可以通过别名访问
			默认的名称为首字母小写
	 -->
	<typeAliases>
		<package name="com.richard.ssm.mapper"/>
	</typeAliases>
</configuration>